{% extends "base.html.twig" %}
{% block title %}Liste des taches{% endblock %}

{% block body %}
<h1>Liste des taches</h1>
<p><a href="{{ path('creation_client') }}">S'inscrire</a></p>
    <table>
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Penom</th>
            <th>Téléphone</th>
            <th>Username</th>
            <th>Email</th>
            <th>Options</th>

        </thead>
        <tbody>
           {% for client in liste %} 
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
            <td>{{ client.telephone }}</td>
            <td>{{ client.username }}</td>
            <td>{{ client.email }}</td>
             <td>
                <a href="{{ path('client_update', {'id': client.id}) }}">Modifier</a>
                <a href="{{ path('client_delete', {'id': client.id}) }}">Supprimer</a>
            </td> 
        </tr>
        {% endfor %}
          </tbody> 
    </table>


{% endblock %}